@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&family=La+Belle+Aurore&family=Roboto:ital@1&display=swap");

#root {
  text-align: center;
  padding-top: 100px;
  margin: 0;
  font-family: "Roboto:italic";
}

* {
  background: #11303f;
  margin: 0;
  color: #ffd700;
}
